/problema1/Problema1/nbproject/private/
/problema1/Problema1/build/
/problema2/ProblemaDos/nbproject/private/
/problema2/ProblemaDos/build/
/problema3/ProblemaTres/nbproject/private/
/problema3/ProblemaTres/build/
/problema4/Cheque/nbproject/private/
/problema4/Cheque/build/
